extends layout

block content

  h1 Log In Page
  form(action='users/login', method='post')
    input(type='text', name='email', placeholder='Email')
    input(type='password', name='password', placeholder='Password')
    button(type='submit') Log In
